.container {
  margin: 0 auto;
  display: flex;
}

table {
 margin: 25px; 
 height: 50%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
th,
td {
  padding: 15px;
}

.month-row {
  text-align: "center";
}

.header-row {
  background-color: grey;
  margin: 6px;
}